@mixin centerer_flexbox($horizontal: true, $vertical: true){
  display: flex;
  flex-direction: column;

  @if ($horizontal and $vertical)
  {
    justify-content: center;
    align-items: center;
  }
  @else if ($horizontal)
  {
    align-items: center;

  }
  @else if ($vertical)
  {
    justify-content: center;
  }
}

@mixin f_link_animation ($shadow: $e_shadow_hover){
  transition: $a_fast_transition;
  display: inline-block;

  @include breakpoint($b_transition){
    &:hover {
      text-shadow: $shadow;
      // transform: translate(-2px, -2px) skewX(-10deg);
      transform: skewX(-10deg);
    }
  }

}

@mixin work_animation{
  transition: $a_fast_transition;
  display: inline-block;

  .workItem_img, .workItem_title, .workItem_type {
    transition: $a_fast_transition;
  }

  @include breakpoint($b_transition){
    &:hover {

      .workItem_title, .workItem_type {
        text-shadow: $e_shadow_hover;
        // transform: translate(-2px, -2px);
        transform: skewX(-10deg);
      }

      .workItem_img {
        // transform: translate(-2px, -2px);
        transform: skewX(-3deg);
        box-shadow: $e_shadow_hover;

      }
    }
  }

}
