@mixin truncate($truncation-boundary)
{
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin line-clamp($lines)
{
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin underline($color)
{
  border-bottom: $s_border solid $color;
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
