@mixin centerer_flexbox($horizontal: true, $vertical: true){
  display: flex;
  flex-direction: column;

  @if ($horizontal and $vertical)
  {
    justify-content: center;
    align-items: center;
  }
  @else if ($horizontal)
  {
    align-items: center;

  }
  @else if ($vertical)
  {
    justify-content: center;
  }
}

@mixin f_link_animation ($shadow: $e_shadow_hover){
  transition: $a_fast_transition;
  display: inline-block;

  @include breakpoint($b_transition){
    &:hover {
      text-shadow: $shadow;
      transform: translate(-2px, -2px);
    }
  }

}

@mixin work_animation{
  @include f_link_animation;

  .workItem_img {
    transition: $a_fast_transition;
  }

  @include breakpoint($b_transition){
    &:hover {
      .workItem_img
      {
        box-shadow: $e_shadow_hover;
      }
    }
  }

}
