    <footer class="footer">
      <div class="footer_action">
        <h2 class="footer_action_title f_displaySection">Contact me:</h2>
        <a href="mailto:{{ email }}?subject=feedback" class="footer_action_link">{{ email }}</a>
      </div>
      <ul class="footer_social">
        @@loop('_social_network.html', [
          {"name": "Linkedin", "url": "https://www.linkedin.com/in/aacoelho/"},
          {"name": "Behance", "url": "https://www.behance.net/aacoelho"},
          {"name": "Instagram", "url": "https://www.instagram.com/angelaacoelho/"},
          {"name": "Dribbble", "url": "https://dribbble.com/aacoelho"},
          {"name": "Vimeo", "url": "https://vimeo.com/aacoelho"}
        ])
      </ul>
      <div class="footer_arrow">
      </div>
    </footer>

    <script src="javascripts/app.js"></script>

  </body>

</html>
