{% if page.layout != "post" %}
  {% assign action = "Contacte me:" %}
{% else %}
  {% assign action = "See next project:" %}
{% endif %}

<footer class="footer">

  <div class="footer_action">
    <h2 class="footer_action_title f_displaySection">
      {{ action }}
    </h2>

    {% if page.layout != "post" %}

        <a href="mailto:{{ site.email }}?subject=feedback" class="footer_action_link f_displaySection f_displaySection-link">
          {{ site.email }}
        </a>
      </div>

      <ul class="footer_social">
        {% for social in site.data.social %}
          {% include social.html %}
        {% endfor %}
      </ul>

    {% else %}

      {% for post in site.posts %}
        {% assign nextproject = page.index | plus: 1 | modulo:site.posts.size %}
        {% if post.index == nextproject %}
          <a href="{{ post.url | relative_url }}" class="footer_action_link  f_displaySection f_displaySection-link">
            {{ post.title }}
          </a>
        {% endif %}
      {% endfor %}

      </div>

    {% endif %}

  <div class="footer_arrow">
  </div>

</footer>
