{% if page.layout != "post" %}
  {% assign action = "Contact me:" %}
{% else %}
  {% assign action = "See next project:" %}
{% endif %}

<footer class="footer">

  <div class="footer_action">
    <h2 class="footer_action_title f_displaySection">
      {{ action }}
    </h2>

    {% if page.layout != "post" %}

        <a href="mailto:{{ site.email }}?subject=feedback" class="footer_action_link f_displaySection f_displaySection-link">
          {{ site.email }}
        </a>

        <ul class="footer_action_social linkList">
          {% for social in site.data.social %}
            {% include social.html %}
          {% endfor %}
        </ul>

    {% else %}

      {% for post in site.posts %}
        {% assign nextproject = page.index | plus: 1 | modulo:site.posts.size %}
        {% if post.index == nextproject %}
          <a href="{{ post.url | relative_url }}" class="footer_action_link  f_displaySection f_displaySection-link">
            {{ post.title }}
          </a>
        {% endif %}
      {% endfor %}



    {% endif %}

  </div>

  <div class="footer_arrow">
    {% include arrow.html %}
  </div>

</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js?{{site.time | date: '%s%N'}}"></script>
