@include breakpoint($b_initial) {

  .landscape {
    .landingSection {
      align-content: inherit;

      &_top {
        width: 100%;
        transform: rotate(0deg);
        position: inherit;
        justify-content: flex-start;
      }
    }
  }

  .landingSection {
    $margin: calc(2 * #{$d_scale_s});
    margin-bottom: calc(2 * #{$d_scale_s});
    height: calc(100vh - calc(#{$margin} + 32px));
    max-height: 1024px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

    &_top {
      transform-origin: 100% 0%;
      transform: rotate(270deg);
      //right: calc(100% - calc(#{$d_scale_s} + 10px));
      right: calc(100% - 10px);
      position: absolute;
      top: $d_scale_s;
      justify-content: flex-end;
    }


    &_slogan {
      align-self: flex-end;
    }

    &_corner {
      align-self: flex-end;
      margin-left: auto;
    }
  }

  .selectedWorks {
    display: flex;
    flex-wrap: wrap;
    padding-top: calc(2 * #{$d_scale_s});

    &_title {
      width: 100%;
      margin-bottom: calc(2 * #{$d_scale_s});
    }

    &_list {

      .workItem {

        @include work_animation;

        &_title {
          margin-top: calc(#{$d_scale_s}/2);
          color: $c_text_highlight;
          text-align: right;
        }
      }
    }
  }
}

@include breakpoint($b_small_medium) {

  .landingSection {
    align-content: inherit;

    &_top {
      width: 100%;
      transform: rotate(0deg);
      position: inherit;
      justify-content: flex-start;

      // &_title {
      //   margin-left: 0px;
      // }
    }
  }

}

@include breakpoint($b_transition) {

  .landingSection {
    $margin: calc(2 * #{$d_scale_m});
    margin-bottom: calc(2 * #{$d_scale_m});
    height: calc(100vh - #{$margin});
    width: 100%;
  }

  .selectedWorks {
    padding-top: calc(2 * #{$d_scale_m});

    &_title {
      margin-bottom: $d_scale_m;
    }

    &_list {

      &_title {
        margin-top: calc(#{$d_scale_m}/2);
      }
    }
  }
}
