@include breakpoint($b_initial) {

  .landingSection {
    $margin: calc(2 * #{$d_scale_s});
    margin-bottom: calc(4 * #{$d_scale_s});
    height: calc(100vh - calc(#{$margin} + 32px));
    max-height: 1024px;
    display: flex;
    flex-wrap: wrap;

    &_title {
      transform: rotate(-90deg);
      height: calc(100vw - #{$margin});
      margin-left: 20px;
    }

    &_slogan {
      align-self: flex-end;
    }

    &_arrow {
      align-self: flex-end;
      margin-left: auto;
    }
  }

  .selectedWorks {
    display: flex;
    flex-wrap: wrap;

    &_title {
      width: 100%;
      margin-bottom: calc(2 * #{$d_scale_s});
    }

    &_list {

      .workItem {

        &_title {
          margin-top: calc(#{$d_scale_s}/2);
          color: $c_text_highlight;
        }
      }
    }
  }
}

@include breakpoint($b_transition) {

  .landingSection {
    $margin: calc(2 * #{$d_scale_m});
    margin-bottom: calc(4 * #{$d_scale_m});
    height: calc(100vh - #{$margin});
    width: 100%;

    &_title {
      transform: rotate(0deg);
      height: auto;
      margin-left: 0px;
      width: 100%;
    }
  }

  .selectedWorks {

    &_title {
      margin-bottom: $d_scale_m;
    }

    &_list {

      &_title {
        margin-top: calc(#{$d_scale_m}/2);
      }
    }
  }
}
