.loading{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $c_highlight;
  z-index: 5;
  top: 0;
  left: 0;
  @include centerer_flexbox;
  display: flex;
  cursor: url(cursor_default.png), auto;

  visibility: visible;
  opacity: 1;

  animation-duration: $d_medium_duration;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  &_text {
    color: $c_text_light;
    //opacity: 0;
    // transition: $a_fast_transition;
    transition: opacity $d_fast_duration ease-in-out;
    animation-iteration-count: infinite;
    animation-name: skewLoading;
    animation-direction: alternate;
    animation-duration: $d_very_slow_duration;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &.loading-in
  {
    animation-name: transition_in;
  }

  // &.loading-show
  // {
  //   visibility: visible;
  //   opacity: 1;
  // }

  // &.loading-hidden
  // {
  //   visibility: hidden;
  //   opacity: 0;
  // }

  &.loading-out
  {
    animation-name: transition_out;

  }
}

@keyframes transition_in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes transition_out {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes skewLoading {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(-10deg);
  }
  50% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(10deg);
  }
}


//Body before and after Loading
.fade-in{
  // transition: opacity $d_slow_duration ease-in-out;
  opacity: 1 !important;
}

.fade-out{
  // transition: opacity $d_slow_duration ease-in-out;
  opacity: 0 !important;
}
