@charset "utf-8";

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($size) {
  @media (min-width: $size) { @content ; }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

//Basic Values
@import 'base/colors';
@import 'base/variables';

//mixins
@import 'mixins/sticky_footer';
@import 'mixins/centerer';
@import 'mixins/small_mixins';

//styleguide
@import 'base/fonts';
@import 'base/styleguide';
@import 'base/navigation';
@import 'base/footer';
@import 'base/buttons';
@import 'base/shame';

//partials
@import 'partials/home';
@import 'partials/about';
@import 'partials/project';
@import 'partials/list_item';
@import 'partials/more_info';
@import 'partials/404';
