@charset "utf-8";

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($size) {
  @media (min-width: $size) { @content ; }
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Spectral:700');

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('/assets/fonts/Sporting_Grotesque-Bold.eot');
    src:    url('/assets/fonts/Sporting_Grotesque-Bold.eot?#iefix') format('embedded-opentype'),
            url('/assets/fonts/Sporting_Grotesque-Bold.woff') format('woff'),
            url('/assets/fonts/Sporting_Grotesque-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//Basic Values
@import 'base/colors';
@import 'base/variables';

//mixins
@import 'mixins/small_mixins';

//styleguide
@import 'base/fonts';
@import 'base/styleguide';
@import 'base/navigation';
@import 'base/footer';
@import 'base/shame';

//partials
@import 'partials/home';
//@import 'partials/about';
//@import 'partials/project';
@import 'partials/list_item';
@import 'partials/more_info';
@import 'partials/transition';
@import 'partials/404';
