---
layout: default
---

<div class="info">
  <p class="info_description f_textBig">
    {{ page.bio }}
  </p>
  {% assign img_path = "/assets/" | append: page.img %}
  <img src="{{ img_path | absolute_url }}" alt="profile" class="info_image">
</div>

<div class="moreInfo">
  {% assign group = page.experience %}
  {% include info_group.html %}

  {% assign group = page.events %}
  {% include info_group.html %}

  {% assign group = page.tools %}
  {% include info_group.html %}

  <a href="" class="moreInfo_group moreInfo_group-link f_textNormal f_textNormal-link" download>
    Download full Resume
  </a>

  {% assign group = page.website %}
  {% include info_group.html %}
</div>
