<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="main">
      <div class="skewEffect">

        {% include header.html %}

        <section class="container container-{{ page.tag }} section-skew">

          {% if page.layout != "home" %}
          <div class="container_head">

            <h1 class="container_head_title f_displaySection">
              {{ page.title | escape }}
            </h1>

            {% if page.type != nil and page.type != "" %}
            <p class="container_head_type f_textExtra">
              {{ page.type }}
            </p>
            {% endif %}

          </div>
          {% endif %}

          {{ content }}
        </section>


        {% include footer.html %}
      </div>
    </div>

    <div class="loading">
      <p class="loading_text f_displaySection">Loading ...</p>
    </div>

  </body>

</html>

<script type="text/javascript">

  //Transition
  //$(".loading").removeClass("loading-hidden");
  $(".loading_text").css("opacity", "1");
  $("body").css("overflow", "hidden");
  $(".main").css("opacity","0");

</script>

<noscript>
  <style media="screen">
    .loading
    {
      display: none;
    }
  </style>
</noscript>
