---
layout: default
title: "Ângela Coelho"
---

<div class="landingSection">
  <h1 class="landingSection_title f_displayExtra">
    {{ page.title }}
  </h1>
  <p class="landingSection_slogan f_textExtra">
    {{ site.description }}
  </p>
  <div class="landingSection_arrow">
  </div>
</div>

{% if site.posts.size > 0 %}
  <div class="selectedWorks">
    <h2 class="selectedWorks_title f_displaySection">{{ page.list_title | default: "Selected works:" }}</h2>
    <div class="selectedWorks_list">
      {% assign posts = site.posts | sort: 'index' %}
      {% for post in posts %}
        {% include project_avatar.html %}
      {% endfor %}
    </div>
  </div>

{% endif %}
