---
layout: default
title: "Ângela Coelho"
---

<div class="landingSection">

  <div class="landingSection_top">
    <h1 class="landingSection_top_title f_displayExtra">
      Ângela
    </h1>
    <h1 class="landingSection_top_title f_displayExtra">
      Coelho
    </h1>
  </div>

  <p class="landingSection_slogan f_textExtra">
    {{ site.description }}
  </p>

  <div class="landingSection_corner">
    {% include arrow.html %}
  </div>

</div>

{% if site.posts.size > 0 %}

  <div class="selectedWorks">

    <h2 class="selectedWorks_title f_displaySection">
      {{ page.list_title | default: "Selected projects:" }}
    </h2>

    <div class="selectedWorks_list sectionList">
      {% assign posts = site.posts | sort: 'index' %}
      {% for post in posts %}
        {% include project_avatar.html %}
      {% endfor %}
    </div>
  </div>

{% endif %}
