---
layout: default
---

<div class="info">
  <p class="info_description f_textBig">
    {{ page.description }}
  </p>
</div>

<div class="gallery">
  {% assign gallery = page.gallery %}
  {% for image in gallery %}
    {% include gallery_item.html %}
  {% endfor %}
</div>

<div class="moreInfo">
  {% assign group = page.details %}
  {% include info_group.html %}

  {% if page.link != nil and page.link != "" %}
    <a target="_blank" class="moreInfo_group moreInfo_group-link f_textNormal f_textNormal-link" href="{{ page.link }}">
      Visit Website
    </a>
  {% endif %}

  {% if page.references %}
    {% assign group = page.references %}
    {% include info_group.html %}
  {% endif %}
</div>
