/* Mixins Buttons */
//Hover Effect
@mixin button_hover($m_color)
{
  overflow: hidden;
	transition-duration: $d_medium_duration;
	transition-property: "background-color";

	&:hover,
	&:focus,
	&:active
  {
		background-color: $m_color;
	}
}

//Mixin to create Button
//Arguments: Background Color, Text Color
@mixin button($m_bg, $m_text, $m_radius)
{
  background-color: $m_bg;
  color: $m_text;
  border-radius: $m_radius;
  cursor: pointer;
  @extend p.button;

  &:focus
  {
    outline: none;
  }

  @include button_hover(darken( $m_bg, 10% ));
}

/* Fix for Firefox */
//Confirm if it is the correct value for the font that is being used.
@-moz-document url-prefix()
{
  .button
  {
    letter-spacing: 1px;
  }
}

/* Buttons */
@include breakpoint($b_initial)
{
  // .primary_button
  // {
  //   @include button($c_primary_button, $c_primary_button_text, $s_radius);
  //   border: $s_border solid $c_primary_border;
  // }
}
