/* Footer */
@include breakpoint($b_initial) {

  .footer {
    display: flex;
    margin-top: $d_scale_s;
    flex-wrap: wrap;

    &_action {
      order: 1;
      width: 100%;

      &_social {
        margin-top: calc(2 * #{$d_scale_s});
      }

    }

    &_arrow {
      margin-left: auto;
      transform: rotateX(180deg);
      margin-bottom: $d_scale_s;
    }
  }
}

@include breakpoint($b_small) {

  .footer {
    flex-wrap: nowrap;

    &_action {
      order: 0;
      width: auto;
    }

    &_arrow {
      align-self: flex-end;
      margin-bottom: 0px;
    }
  }
}

@include breakpoint($b_transition) {

  .footer {
    margin-top: calc(2 * #{$d_scale_m});

    &_action {

      &_social {
        margin-top: $d_scale_m;
      }

    }

    &_arrow {
      .arrowSvg:hover{
        filter: drop-shadow($e_shadow_hover_180);
        transform: skewX(5deg);
      }
    }
  }
}
