/* Page */
* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container
{
  padding: 0px;
}

body{
  background-color: $c_background;
}
