/* Page */
* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Text Selection Colors */
::selection { /* WebKit/Blink Browsers */
  background: $c_highlight;
  color: $c_text_light;
}
::-moz-selection {  /* Gecko Browsers */
  background: $c_highlight;
  color: $c_text_light;
}

html {
  background: $c_highlight;
  box-sizing: border-box;
  width: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  min-height: 100%;
  cursor: url(cursor_default.png), auto;
  /* Background: */
  background-color: $c_background;
  background-image: linear-gradient(to bottom, rgba($c_highlight, 0.3) -2%, $c_background 2%, $c_background 98%, rgba($c_highlight, 0.7) 101%);
}

.container {
  padding: 0px;
}

.noScroll {
  overflow: hidden;
  //max-height: 100vh;
}

// .noScroll {
//    position: fixed;
//    overflow-y: scroll;
// }

// .noevents {
//   pointer-events:none;
// }

@include breakpoint($b_initial) {

  /* Geral */
  body {
    padding: $d_scale_s;
  }

  /* Container */
  .container {

    &_head {
      margin-top: $d_scale_s;
      margin-bottom: $d_scale_s;

      &_title {
        color: $c_text_highlight;
      }

    }
  }

  .main {
    transition: opacity $d_slow_duration ease-in-out;
    opacity: 0 !important;
  }

  /* Info Top Page */
  .info {
    margin-bottom: calc(2* #{$d_scale_s});
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &_image {
      margin-top: calc(2* #{$d_scale_s});
      width: 100%;
    }
  }

  /* Link List - Nav/Footer */
  .linkList {
    padding: 0px;

    li {
      display: inline-block;
      list-style: none;
      margin-bottom: calc(#{$d_scale_s}/2);

      & + li:before {
        content: "/";
      }
    }
  }

  /* Arrow */
  .arrowSvg {
    height: 70px;
    //cursor: pointer;
    cursor: url(cursor_pointer.png), pointer;

    &_polygon {
      fill: $c_text_highlight;
    }
  }
}

@include breakpoint($b_small_medium) {

  /* Geral */
  body {
    padding:  $d_scale_s $d_scale_m;
  }
}

@include breakpoint($b_medium) {

  /* Geral */
  body {
    padding: $d_scale_s;
  }

  /* Info Top Page */
  .info {

    &_description, &_image {
      margin: 0px;
      //width: calc(50% - calc(#{$d_scale_s}/2));
      width: calc(50% - 10px);
    }
  }
}

@include breakpoint($b_transition) {

  /* Geral */
  body {
    padding: $d_scale_m;
  }

  /* Container */
  .container {

    &_head {
      margin-top: 0px;
      margin-bottom: $d_scale_m;

    }
  }

  /* Info Top Page */
  .info {
    margin-bottom: calc(2* #{$d_scale_m});

    &_description, &_image {
      //width: calc(50% - calc(#{$d_scale_m}/2));
      width: calc(50% - 25px);
    }
  }

  /* Link List - Nav/Footer */
  .linkList {

    li {
      margin-bottom: 0px;
    }
  }

  /* Arrow */
  .arrowSvg {
    height: 105px;
    transition: $a_fast_transition;

    &:hover{
      filter: drop-shadow($e_shadow_hover);
      transform: skewX(-5deg);
    }
  }
}
