/**
 * How to declare variables:
 * $a_name
 *
 * a: Should be the initial of the variable type
 * (c - color, b - breakpoint, f - font/font weight, s - size, d - duration).
 *
 * name: Should be the name of the variable.
 *
 */

/* BREAKPOINTS */
$b_initial: 0px;
$b_very_small: 400px;
$b_small: 600px;
$b_medium: 900px;
$b_transition: 1024px;
$b_large: 1200px;
$b_very_large: 1500px;
$b_wider: 1800px;

/* SIZES */
// $s_nav_height: 50px;
$s_footer_height: 140px;
$base-font-size: 16px;
// $s_border: 2px; /**/
// $s_radius: 15px; /**/
// $s_input_padding_top: 1em;
// $s_input_padding_left: 30px;

/* ANIMATION */
$d_fast_duration: .2s;
$d_medium_duration: .3s;
$d_slow_duration: .6s;
$a_fast_transition: all $d_fast_duration ease-in-out;

/* EFFECTS */
$e_shadow_hover: 4px 4px 4px $c_shadow;
